{% extends '_design.html' %}

{% block title %} Research {% endblock %}

{% block body %}
<div class="container">
    <h1>Research</h1>
    <div class="container">
        <h2>Queue</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Nr</th>
                <th>Item</th>
                <th>Description</th>
                <th>Time left</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Fabrication (1)</td>
                <td>Fabrication skill allows you to fabricate your own items using raw materials.</td>
                <td>00:05:00</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Chemistry (1)</td>
                <td>Chemistry skill allows you to synthesize your own chemicals.</td>
                <td>00:10:00</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}